.text-primary-9 { color: #000000; }
.text-primary-8 { color: #1E1E1E; }
.text-primary-7 { color: #3B3B3B; }
.text-primary-6 { color: #5B5B5B; }
.text-primary-5 { color: #919191; }
.text-primary-4 { color: #C1C1C1; }
.text-primary-3 { color: #E9E9E9; }
.text-primary-2 { color: #F1F1F1; }
.text-primary-1 { color: #FAFAFA; }
.text-primary-0 { color: #FFFFFF; }

body {
	line-height: 1.5;
}
h1 {
	font-size: 24px;
	line-height: 1.67;
}
h3 {
	font-size: 28px;
	line-height: 1.2;
}
h5 {
	font-size: 20px;
	line-height: 1.2;
}
.fs-4 {
	font-size: 24px;
}
.fs-5 {
	font-size: 20px;
}
.fs-6 {
	font-size: 16px;
}
.container {
	max-width: 1296px;
	margin: 0 auto;
}
/* header */
.header {
	padding: 32px 0;
}
.header .container {
	display: flex;
	justify-content: center;
	position: relative;
}
.header .logo {
	width: 90px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.menu {
	display: flex;
	justify-content: space-between;
	width: 480px;
}
.menu li {
	font-size: 16px;
	padding: 4px 8px;
}
.menu li a {
	color: #000;
}
.menu .active {
	font-weight: 700;
	background: linear-gradient(to left, #919191, #919191) left top no-repeat, 
	linear-gradient(to bottom, #919191, #919191) left top no-repeat, 
	linear-gradient(to left, #919191, #919191) right top no-repeat,
	linear-gradient(to bottom, #919191, #919191) right top no-repeat, 
	linear-gradient(to left, #919191, #919191) left bottom no-repeat,
	linear-gradient(to bottom, #919191, #919191) left bottom no-repeat,
	linear-gradient(to left, #919191, #919191) right bottom no-repeat,
	linear-gradient(to left, #919191, #919191) right bottom no-repeat;
	background-size: 1px 6px, 6px 1px, 1px 6px, 6px 1px;
}
/* work-list */
.blockquote {
	padding: 80px 0;
	background: #FAFAFA;
}
.work-title, .blockquote .intro {
	width: 670px;
	margin: 0 auto;
	text-align: center;
}
.work-title {
	padding: 59px 71px;
	margin-bottom: 24px;
	position: relative;
}
.work-title::before {
	content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true);
	position: absolute;
	top: 0;
	left: 0;
}
.work-title::after {
	content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true);
	position: absolute;
	bottom: 0;
	right: 0;
}
.work-title span {
	position: relative;
	z-index: 1;
}
.work-title span::before {
	content: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true);
	position: absolute;
	bottom: -11px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
.blockquote .intro {
	display: flex;
	justify-content: space-between;
}
.blockquote .intro li {
	width: 315px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}
.underline {
	width: 24px;
	height: 2px;
	background: #C1C1C1;
	margin-bottom: 8px;
}
.work {
	margin: 120px 0;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.work-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.work-list > li {
	margin-bottom: 80px;
	width: 636px;
}
.work-list img {
	border: 1px solid #f1f1f1;
	border-radius: 8px;
	margin-bottom: 16px;
}
.work-list .intro {
	margin-left: 16px;
}
.work-list h2 {
	font-size: 28px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 8px;
}
.work-list h2 a {
	color: #383838;
}
.work-list p {
	margin-bottom: 24px;
}
.tags {
	display: flex;
}
.tags li {
	background: #f1f1f1;
	margin-right: 16px;
	border-radius: 16px;
}
.tags li:last-child {
	margin-right: 0;
}
.tags a {
	color: #3b3b3b;
	padding: 4px 12px;
	display: block;
}
/* pagination */
.pagination {
	display: flex;
	justify-content: center;
}
.pagination li {
	font-size: 24px;
	text-align: center;
	margin-right: 16px;
}
.pagination li a {
	color: #3b3b3b;
	padding: 2px 13px;
	display: block;
}
.pagination li:last-child {
	margin-right: 0;
}
.pagination .active {
	background: #1e1e1e;
	border-radius: 4px;
}
.pagination .active a {
	color: #fff;
}
/* footer */
.footer-bg {
	background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true) no-repeat;
	background-size: cover;
	padding: 80px 0;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer li:last-child {
	margin-bottom: 0;
}
.footer .logo img {
	width: 120px;
}
.footer .logo li {
	margin-bottom: 24px;
}
.social li {
	font-size: 20px;
	padding: 8px 24px;
	border-radius: 8px;
	border: 1px solid #c1c1c1;
	background: #fff;
	margin-bottom: 24px;
	width: 306px;
	color: #3b3b3b;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.social .active {
	background: #000;
	border: none;
	color: #fff;
}
.social img {
	margin-right: 8px;
}